{
  "parser": "babel-eslint",
  "extends": [
    "@jetbrains",
    "@jetbrains/eslint-config/browser",
    "@jetbrains/eslint-config/es6"
  ],
  "rules": {
    "max-len": ["error", { "code": 120, "tabWidth": 2 }],
    "no-magic-numbers": ["error", { "ignore": [0, 1] }],
    "indent": ["error", 2, {
      "ignoredNodes": ["TemplateLiteral", "SwitchCase"]
    }]
  },
  "globals": {
    "chrome": "readonly"
  }
}
