{
  "parser": "babel-eslint",
  "extends": [
    "@jetbrains",
    "@jetbrains/eslint-config/browser",
    "@jetbrains/eslint-config/es6"
  ],
  "rules": {
    "no-magic-numbers": ["error", { "ignore": [0, 1] }]
  }
}
