.tab-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.protocol-switcher {
  display: flex;
  gap: 20px;
}
.protocol-switcher label {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 8px;
}
.tools-list {
  border-radius: 4px;
  border: 1px solid #E3E9ED;
  display: flex;
  flex-direction: column;
}
.tool-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding: 5px 12px;
}
.tool-item:not(:last-child) {
  box-shadow: inset 0 -1px 0 0 rgba(227, 233, 237, 0.5);
}
.tool-item:hover {
  background: #F5F7FA;
}
.tool-item-icon {
  background-size: contain;
  height: 32px;
  width: 32px;
}
.tool-data-container {
  display: flex;
  flex-direction: column;
}
.tool-item-description {
  color: #8c92a4;
  font-size: 0.93em;
}
