@import "page.css";

.options {
  width: 36rem;
  margin: 0 auto;
}

.option {
  margin: 3.6rem 0 0.6rem;
  display: flex;
}

.option__label {
  flex-grow: 1;
}

.option__description {
  font-size: 0.8rem;
  padding-right: 2rem;
}

.extra-buttons {
  width: 100%;
  padding: 0.4rem 0;
}

.extra-buttons .extra-buttons__image {
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  .extra-buttons__image-light {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .extra-buttons__image-dark {
    display: none;
  }
}


h1 + .option {
  margin-top: 3rem;
}
